@import "tailwindcss";

@theme {
	--font-inter: "Inter", sans-serif;
}

:root {
	font-family: var(--font-inter);
}

body {
	@apply bg-white text-black;
}

/* Rounded, high-visibility scrollbar */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: white;
}
::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #333;
}
